<!-- Terra Button Template -->
<% const safeExtraClasses = typeof extraClasses !== 'undefined' ? extraClasses :
''; %> <% const buttonClass = 'terra-button ' + safeExtraClasses; %> <% if
(typeof href !== 'undefined') { %>
<a href="<%= href %>" class="<%= buttonClass %>" role="button">
  <% if (iconType === 'ion') { %>
  <ion-icon name="<%= icon %>" class="me-2"></ion-icon>
  <% } else if (iconType === 'fa') { %>
  <i class="<%= icon %> me-2"></i>
  <% } %> <%= text %>
</a>
<% } else { %>
<button type="<%= type || 'button' %>" class="<%= buttonClass %>">
  <% if (iconType === 'ion') { %>
  <ion-icon name="<%= icon %>" class="me-2"></ion-icon>
  <% } else if (iconType === 'fa') { %>
  <i class="<%= icon %> me-2"></i>
  <% } %> <%= text %>
</button>
<% } %>
