<!-- TODO: make button template -->
<button class="btn" <%= style || 'btn-primary' %> rounded-pill d-flex
align-items-center <%= extraClasses || '' %>" type="<%= type || 'button' %>">

<% if (iconType === 'ion') { %>
    <ion-icon name="<%= icon %>" class="me-2"></ion-icon>
<% } else if (iconType ==='fa') { %>
    <i class="<%= icon %> me-2"></i>
<% } %>
<%= text %>
</button>
