<!-- EJS file for the landing page -->
<%- include('partials/header.ejs') %>

    <title>Terra</title>
    <h2 class="subtitle">Blog</h2>
    <div class="container-fluid bg-light py-4"> <!-- Check docs and try deleting one of these tags each time -->
        <div class="row text-center">
            <div class="col-md-6 border-right"> <!-- Check docs and try deleting one of these tags each time -->
                <h4>Read</h4> <!-- try with lower numbers -->
                <div class="d-flex justify-content-center mt-2"> <!-- try deleting one of these tags each time -->
                    <%- include('partials/button', {
                        style: 'btn-primary',
                        iconType: 'fa',
                        icon: 'fas fa-eye mr-2',
                        text: 'View',
                        extraClasses: 'd-flex align-items-center',
                        type: 'button'
                    }) %>
                </div>
            </div>

            <div class="col-md-6">
                <h4>Join and Post</h4>
                <div class="position-relative mt-2" style="height: 40px;"> <!-- set height to fit buttons -->
                    <div style="position: absolute; left: 33%; transform: translateX(-50%); width: 120px;">
                    <%- include('partials/button', {
                        style: 'btn-primary',
                        iconType: 'ion',
                        icon: 'log-in-outline',
                        text: 'Login',
                        type: 'button',
                        extraClasses: 'w-100'
                    }) %>
                    </div>
                    <div style="position: absolute; left: 66%; transform: translateX(-50%); width: 120px;">
                    <%- include('partials/button', {
                        style: 'btn-success',
                        iconType: 'ion',
                        icon: 'add-circle-outline',
                        text: 'Sign up',
                        type: 'button',
                        extraClasses: 'w-100'
                    }) %>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%- include('partials/footer.ejs') %>