<!-- EJS file for the write page -->
<%- include('partials/header.ejs') %>

    <div class="container py-5">
    <h2 class="mb-4">Create New Blog</h2>
    <div class="row">
        <form action="/write" method="POST"></form>
            <div class="col-md-6 mb-4">
                <h4 class="text-center mb-3">Upload image</h4>
                    <div class="d-flex justify-content-center">
                        <input
                        type="file"
                        class="form-control-file"
                        accept="image/png, image/jpeg, image/webp, image/gif"
                        />
                    </div>
                </h4>
            </div>

            <div class="form-group text-center mb-3">
                <input 
                    type="text" 
                    name="title" 
                    class="form-control form-control-lg" 
                    value="<%= /* TODO: Get blog's title */ %>" 
                    placeholder="Enter blog title" 
                    required 
                />
            <div class="d-flex justify-content-center">
                <textarea
                    name="content"
                    class="form-control"
                    rows="12"
                    style="width: 100%;"
                    placeholder="Edit your blog content here..."
                    ><%= /* TODO: Get blog contents */ %>
                </textarea>
            </div>

            <div class="d-flex justify-content-center mt-3">
                <%- include('partials/button', {
                    style: 'btn-primary',
                    iconType: 'ion',
                    icon: 'send-outline',
                    text: 'Post blog!',
                    extraClasses: 'd-flex align-items-center align-self-start',
                    href: '/blog'
                }) %>
            </div>
        </form>
    </div>

<%- include('partials/footer.ejs') %>
